html, body {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

header {
    height: 120px;
    background-color: grey;
}

#headericoncontainer {
    height: 100%;
}

#headericoncontainer img {
    height: 100%;
    aspect-ratio: 1;

}

nav {
    height: 60px;
    background-color: rgb(255, 67, 67);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navlinkcontainer {
    margin-left: 40px;
}

.navlinkcontainer a{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

main {
    height: 700px;
}

#titlesection {
    font-weight: 700;
    font-size: 2em;
    height: 50px;
}

#aboutuscontainer {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contentcontainer {
    height: 100%;
    width: 50%;
}

#aboutustextcontainer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutustextcontainer p {
    height: 75%;
}