html, body {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

header {
    height: 120px;
    background-color: grey;
}

#headericoncontainer {
    height: 100%;
}

#headericoncontainer img {
    height: 100%;
    aspect-ratio: 1;

}

nav {
    height: 60px;
    background-color: rgb(255, 67, 67);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navlinkcontainer {
    margin-left: 40px;
}

.navlinkcontainer a{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

main {
    height: 700px;
}

#titlesection {
    font-weight: 700;
    font-size: 2em;
    height: 50px;
}

#formcontainer {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    width: 20%;
    height: 75%;
}

#form p {
    text-align: center;
    height: 10%;
    margin: 0;
    margin-top: 10%;
    font-size: 2em;
    font-weight: 700;
}


#form #registercontainer {
    /* take a shot every time you see flex */
    display: flex; 
    justify-content: space-evenly;
    flex-direction: column;
    height: 70%;
}

#form #registercontainer input {
    height: 15%;
    border-radius: 2em;
    border: none;
    text-align: center;
    font-size: 1em;
    outline: 3px solid;
}

#form #submitcontainer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form #submitcontainer input {
    height: 75%;
    width: 50%;
    border-radius: 2em;
    background-color: red;
    border: none;
    outline: 3px solid;
    font-weight: 700;
}